* {
  margin: 10px;
  margin-top: 20px;
}

html {
-webkit-text-size-adjust: 120%;
/* Font scaling in landscape while allowing user zoom */
}

/* mobile styles first */
body {
font-size: 16px;
}
.item {
font-size: 17px;
}

/* tablet styles */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .item {
      font-size: 18px;
  }
}


/* desktop styles */
@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
  .item {
      font-size: 18px;
  }
}

/* unvisited link */
a:link {
color: #3e3e3e;
text-decoration: none;
}

/* visited link */
a:visited {
color: #3e3e3e;
text-decoration: none;
}

/* mouse over link */
a:hover {
color: black;
text-decoration: underline;
}

/* selected link */
a:active {
color: #3e3e3e;
text-decoration: underline;
}

div.profile{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

img.avatar {
border-radius: 50%;
width: 150px;
height: 150px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

img.avatar:hover {
transform: scale(1.1);
box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Navigation Flexbox */
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}

.flexbox > div {
  background: white;
  border: 2px solid #ccc;
  width: 280px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  transition: all 0.4s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.flexbox > div:hover {
  background: #f1f1f1;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.flexbox > div a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease;
}

.flexbox > div a:hover {
  color: #0073e6;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .flexbox {
      flex-direction: column;
  }
  .flexbox > div {
      width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .flexbox > div {
      width: 300px;
  }
}

.publishedworks {
display: block;
}

.publishedworks > li {
text-indent: -10px;
margin-left: -10px;
}

.inspiredworks {
display: block;
}

.inspiredworks > li {
text-indent: -10px;
margin-left: -10px;
}
